<!-- AQUÍ VAN TODOS LOS JS QUE VAYAMOS A USAR(DE MANERA PERMANENTE, EJEMPLO BOOTSTRAP) -->

<!-- Jquery -->
<script src="../assets/front/js/jquery-1.10.2.min.js"></script>
<script src="../assets/front/js/jquery-migrate-1.2.1.min.js"></script>

<!-- SweetAlert -->
<script src="../assets/vendor/sweetalert/sweetalert.min.js"></script>

<!-- DataTable -->
<script src="../assets/vendor/dataTable/js/jquery.dataTables.min.js"></script>
<script src="../assets/vendor/dataTable/js/dataTables.bootstrap.min.js"></script>
<script src="../assets/vendor/dataTable/js/dataTables.buttons.min.js"></script>
<script src="../assets/vendor/dataTable/js/dataTables.responsive.min.js"></script>

<!-- Front -->
<script src="../assets/front/js/min/plugins.min.js"></script>
<script src="../assets/front/js/min/medigo-custom.min.js"></script>
<script src="../assets/front/bootstrap/bootstrap.js"></script>

<!-- Loader -->
<script src="../assets/front/js/loader.js"></script>